<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Projects</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <pre>{{projects.getProjects() | async | json}}</pre> -->

  <!-- [
    {
      "createdOn": 1626928267000,
      "zipCode": "530047",
      "uid": "hjBGB2lLrJPSNnMedu3oVdF4Tr43",
      "modifiedOn": 1626928267000,
      "addressLine1": "NAD Colony, Krishnarayapuram",
      "country": "India",
      "state": "Andhra Pradesh",
      "city": "Visakhapatnam",
      "deleted": false,
      "addressLine2": "Dwarakamai Apartment",
      "name": "vamsi kalyan",
      "id": "xC1Ko9NJGMX22Ze9smiB"
    }
  ] -->

  <ng-container *ngIf="projects.getProjects() | async as projectsList; else noProjectListRef">
    <ion-list lines="full" *ngIf="projectsList.length > 0; else noProjectListRef">

      <ion-item-sliding #slidingItem *ngFor="let project of projectsList">

        <ion-item detail [routerLink]="[ '../ponds', project.id ]">
          <ion-avatar slot="start">
            <ngx-avatar [name]="project.name"></ngx-avatar>
          </ion-avatar>
          <ion-label>
            <h2>{{project.name | ucwords}}</h2>
            <h3>{{ project.addressLine1 | ucwords }}</h3>
            <p class="ion-text-wrap">
              {{ project.addressLine2 | ucwords }}, {{ project.city | ucwords }}, {{
              project.state | ucwords }}, {{ project.country | ucwords }}, {{
              project.zipCode | ucwords }}
            </p>
          </ion-label>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option (click)="deleteProject(project);slidingItem.close();" color="danger">Delete</ion-item-option>
          <ion-item-option (click)="presentAddProjectModal(project);slidingItem.close();" color="primary"> &nbsp; &nbsp; Edit &nbsp; &nbsp;</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>
  </ng-container>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="ion-margin">
    <ion-fab-button (click)="presentAddProjectModal(null)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ng-template #noProjectListRef>
  <p class="ion-text-center">
    <ion-text color="medium">No Projects to show</ion-text>
  </p>
</ng-template>

