<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Pond Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Water Statatics as on {{selectedDate|date:'MMM dd, yyyy, hh:mm a'}}
    </ion-list-header>
    <ion-item button>
      <ion-label>PH <sub>( 7.5 to 8.5 )</sub></ion-label>
      <ion-note slot="end" color="primary"
        ><h4 class="ion-no-padding ion-no-margin">7.50</h4></ion-note
      >
    </ion-item>

    <ion-item button>
      <ion-label>Dissolved Oxygen <sub>( 80 to 120 % )</sub></ion-label>
      <ion-note slot="end" color="secondary"
        ><h4 class="ion-no-padding ion-no-margin">99%</h4></ion-note
      >
    </ion-item>

    <ion-item button>
      <ion-label>Turbidity</ion-label>
      <ion-note slot="end" color="tertiary"
        ><h4 class="ion-no-padding ion-no-margin">99%</h4></ion-note
      >
    </ion-item>

    <ion-item button>
      <ion-label>TDS</ion-label>
      <ion-note slot="end" color="success"
        ><h4 class="ion-no-padding ion-no-margin">99%</h4></ion-note
      >
    </ion-item>

    <ion-item button>
      <ion-label>Temperature</ion-label>
      <ion-note slot="end" color="warning"
        ><h4 class="ion-no-padding ion-no-margin">99%</h4></ion-note
      >
    </ion-item>
  </ion-list>
</ion-content>
